<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <style>
    </style>
</head>
<body>
    <header style="text-align: center;">
        <img src="public/profile.jpeg" width="128" height="128" style="border-radius: 50%;">
        <h1>&lt;tomtomyang alt="dev"/&gt;</h1>
        <nav><a href=".">中文</a> / <a href="index.en.html">English</a></nav>
    </header>
    <main class="container">
        {{content}}
    </main>
</body>
</html>