<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="C5XL30NP_8RYHQEq4wBso6JrBuiwh4c8_Nk8G8r8Ytw" />

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="https://tomtomyang.github.io">
    <meta property="og:image" content="https://tomtomyang.github.io/public/icon/128.jpg">
    <meta property="og:image:alt" content="Tomtomyang">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{description}}">
    <meta property="twitter:url" content="https://tomtomyang.github.io">
    <meta property="twitter:image" content="https://tomtomyang.github.io/public/icon/128.jpg">
    <meta property="twitter:image:alt" content="Tomtomyang">

    <link rel="shortcut icon" href="public/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/public/icon/128.png">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

    <link rel="stylesheet" href="public/lib/new.min.css">
    <link rel="stylesheet" href="public/lib/heti.min.css">
    <script defer src="public/lib/heti-addon.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const heti = new Heti('.heti');
            heti.autoSpacing();
        });
    </script>
</head>
<body>
    <header>
        <img src="public/image/profile.avif" width="128" height="128" style="border-radius: 50%;" alt="Tomtomyang">
    </header>
    <main>
        <content class="heti heti--song">{{content}}</content>
    </main>
</body>
</html>
